<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/Css/carrito.css}">
    <link rel="icon" type="image/png" th:href="@{/Css/img/logo4.png}">
    <title>Carrito de compras</title>
</head>
<body>
    <div class="header">LSJ</div>

    <div class="header-container">
        <a th:href="@{ / }" class="logo">
            <img class="logo" th:src="@{/img2/logo.png}" alt="Logo de la tienda">
        </a>

        <div class="icon-container">
            <a th:href="@{/registro}" class="icon" title="Registro">
                <i class="fas fa-user-plus"></i>
            </a>
            <a th:href="@{/catalogo}" class="icon" title="Catálogo">
                <i class="fas fa-book"></i>
            </a>
            <a th:href="@{/carrito}" class="icon active" title="Carrito de compras">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>

    <main class="carrito">
        <div class="carrito-header">
            <span>Producto</span>
            <span>Total</span>
        </div>

        <div id="carrito-lista" class="carrito-lista"></div>
        <p id="carrito-vacio" class="carrito-vacio">Tu carrito está vacío.</p>

        <div class="total">
            TOTAL: <span id="total">$0</span>
        </div>

        <div class="carrito-acciones">
            <button id="btnVaciarCarrito" class="vaciar" type="button">Vaciar carrito</button>
            <button id="btnIrPasarela" class="pagar" type="button">Ir a pagar</button>
        </div>
    </main>

    <script th:src="@{/Css/js/carrito.js}"></script>
</body>
</html>