<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


    <!-- Tu CSS externo -->
    <link rel="stylesheet" href="Css/nosotros.css">
    <link rel="icon" type="image/png" th:href="@{/Css/img/logo4.png}">

</head>
<body>

   <div class="header">LSJ</div>
    <div class="header-container">
        <a th:href="@{/}" class="logo">
          <img class="logo" th:src="@{/Css/img/logo.png}" alt="Logo de la tienda">
        </a>
    
    <div class="search-container">
            <form class="search-form" action="/buscar" method="get" title="buscar" id="search-form">
                <input type="text" class="search-input" placeholder="Buscar productos..." name="q" id="search-input" autocomplete="off">
                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div class="sugerencias-container" id="sugerencias-container" style="display: none;"></div>
    </div>
    


        <div class="icon-container">
            <a th:href="@{/registro}" class="icon" title="Registro">
                <i class="fas fa-user-plus"></i>
            </a>
            <a th:href="@{/catalogo}" class="icon" title="Catálogo">
                <i class="fas fa-book"></i>
            </a>
            <a th:href="@{/pasarela}" class="icon" title="Carrito de compras">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
   <div class="NOSOTROS">SOBRE NOSOTROS</div>

<br>
<section id="sobre-nosotros">
  <div class="sobre-nosotros">
    <div class="informacion">
      <div class="info-text">
        <h2>¿Qué es <span class="rojo">NortSteak?</span></h2>
        <p>
          Nuestra plataforma web fue diseñada con la idea de ser fácil de usar para todos los usuarios que deseen adquirir nuestros productos.
          Lo que ofrecemos en esta página lo adquirimos mayormente de la ganadería de Norte de Santander - Colombia.
        </p>
      </div>
      <div class="info-image">
        
        <i class="fa-solid fa-laptop icono-sobre"></i>
      </div>
    </div>
  </div>
</section>

<section id="informacion-entrega"></section>
  <div class="sobre-nosotros">
    <div class="informacion">
      <div class="info-text">
        <h2>Información de <span class="rojo">Entrega</span></h2>
        <p>
        Los métodos de entrega usados por la plataforma son totalmente seguros, garantizando que los productos lleguen en óptimas condiciones,
        manejando una correcta cadena de frío.
        </p>
      </div>
      <div class="info-image">
        
      <i class="fa-solid fa-truck-fast icono-sobre"></i>      
      </div>
    </div>
  </div>
</section>

<section id="politica-privacidad"></section>
  <div class="sobre-nosotros">
    <div class="informacion">
      <div class="info-text">
        <h2>Política de <span class="rojo">Privacidad</span></h2>
        <p>
        Nuestra plataforma cuenta con todas las normas de política de privacidad estipuladas en la constitución Política de Colombia (Ley 1581-2012). 
        Puede tener la seguridad de que sus datos personales y bancarios estén totalmente protegidos.
        </p>
      </div>
      <div class="info-image">
        
        <i class="fa-solid fa-shield-halved icono-sobre"></i>
      </div>
    </div>
  </div>
</section>



<section id="proveedores">
<div class="proveedores">PROVEEDORES DE NORTE DE SANTANDER</div>

</section>
<section class="proveedores2">
  <!-- Aquí pegas tu mismo contenido original -->
  <div class="proveedor-card">
    <h3>ADOLFO EMIRO CÁCERES VALBERDE</h3>
    <div class="proveedor-content">
      <img th:src="@{/Css/img/proveedor1.png}" alt="Logo proveedor">
      <div class="info">
        <p><strong>Hda. Ganadería:</strong> Los 3 Potrillos</p>
        <p><strong>Ubicación:</strong> La Gabarra, Norte de Santander</p>
        <p><strong>Teléfono:</strong> 3112441520</p>
        <p><strong>Dirección:</strong> Cl. 7 # 0 – 15, Cúcuta - Norte de Santander</p>
        <p><strong>Correo:</strong> <a href="mailto:adolfocaceres0912@gmail.com">adolfocaceres0912@gmail.com</a></p>
      </div>
    </div>
  </div>

  <div class="proveedor-card">
    <h3>CESAR ARMANDO CÁCERES MANTILLA</h3>
    
    <div class="proveedor-content">
      <img th:src="@{/Css/img/proveedor2.jpeg}" alt="Logo proveedor">

      <div class="info">
        <p><strong>Hacienda:</strong>Alto Viento Ganadería, Vda. Centro Km. 3, Vía Ramírez</p>
        <p><strong>Ubicación:</strong> (Cáchira - Norte de Santader)</p>
        <p><strong>Teléfono:</strong> 3175014643</p>
        <p><strong>Dirección:</strong> Kr. 26 # 35 - 31, Ca. 114 - Buganvilla, Floridablanca - Santander </p>
        <p><strong>Correo:</strong> <a href="mailto:cesararmandocaceres@gmail.com">cesararmandocaceres@gmail.com</a></p>
      </div>
    </div>
  </div>

  <div class="proveedor-card">
    <h3>HÉCTOR ROJAS SERRANO</h3>
    
    <div class="proveedor-content">
      <img th:src="@{/Css/img/proveedor3.jpg}" alt="Logo proveedor">

      <div class="info">
        <p><strong>Hacienda:</strong> Puerto Rico (Cúcuta-Norte de Santander)</p>
        <p><strong>Ubicación:</strong> 
Cúcuta, Norte de Santander</p>
        <p><strong>Teléfono:</strong> 573 0643, 313 451 0024</p>
        <p><strong>Dirección:</strong> CL 10 3 42 OF 401 ED BCO SANTANDER</p>
        <p><strong>Correo:</strong> <a href="mailto:info@ciandinor.com">info@ciandinor.com</a></p>
      </div>
    </div>
  </div>

  <div class="proveedor-card">
    <h3>HEIDER GULLOSO JAIMES</h3>
    
    <div class="proveedor-content">
      <img th:src="@{/Css/img/proveedor4.jpg}" alt="Logo proveedor">

      <div class="info">
        <p><strong>Hda. Ganadería:</strong> H2G, Lote 2 - El Paraiso, Guayabal,</p>
        <p><strong>Ubicación:</strong> (Chinácota, Norte de Santander)</p>
        <p><strong>Teléfono:</strong> 3205682791</p>
        <p><strong>Dirección:</strong> Cr. 3 # 4 - 01, Brr. El Centro, Chinácota - Norte de Santander.</p>
        <p><strong>Correo:</strong> <a href="mailto:agropecuariah2g@gmail.com">agropecuariah2g@gmail.com</a></p>
      </div>
    </div>
  </div>

  <div class="proveedor-card">
    <h3>HÉCTOR ROJAS SERRANO</h3>
    
    <div class="proveedor-content">
      <img th:src="@{/Css/img/proveedor5.jpg}" alt="Logo proveedor">

      <div class="info">
        <p><strong>Hacienda:</strong> Puerto Rico (Cúcuta-Norte de Santander)</p>
        <p><strong>Ubicación:</strong> 
Cúcuta, Norte de Santander</p>
        <p><strong>Teléfono:</strong> 573 0643, 313 451 0024</p>
        <p><strong>Dirección:</strong> CL 10 3 42 OF 401 ED BCO SANTANDER</p>
        <p><strong>Correo:</strong> <a href="mailto:info@ciandinor.com">info@ciandinor.com</a></p>
      </div>
    </div>
  </div>

  <div class="proveedor-card">
    <h3>HEIDER GULLOSO JAIMES</h3>
    
    <div class="proveedor-content">
      <img th:src="@{/Css/img/proveedor6.webp}" alt="Logo proveedor">

      <div class="info">
        <p><strong>Hda. Ganadería:</strong> H2G, Lote 2 - El Paraiso, Guayabal,</p>
        <p><strong>Ubicación:</strong> (Chinácota, Norte de Santander)</p>
        <p><strong>Teléfono:</strong> 3205682791</p>
        <p><strong>Dirección:</strong> Cr. 3 # 4 - 01, Brr. El Centro, Chinácota - Norte de Santander.</p>
        <p><strong>Correo:</strong> <a href="mailto:agropecuariah2g@gmail.com">agropecuariah2g@gmail.com</a></p>
      </div>
    </div>
  </div>

 
</section>

 <!-- Footer -->
    <footer class="footer">
      <div class="footer-column1">
        <img th:src="@{/Css/img/logo-removebg-preview (1).png}" class="logo2">
        <h3><em>Acerca de:</em></h3>
        <ul>
          <li><a th:href="@{/sobreNosotros#sobre-nosotros}">Sobre nosotros</a></li>
          <li><a th:href="@{/sobreNosotros#informacion-entrega}">Información de entrega</a></li>
          <li><a th:href="@{/sobreNosotros#politica-privacidad}">Política de privacidad</a></li>
          <li><a th:href="@{/sobreNosotros#proveedores}">Proveedores locales</a></li>
        </ul>
        <div class="social-icons">
          <a href="https://wa.me/573223738274" target="_blank" title="Chatea con nosotros en WhatsApp">
            <i class="fab fa-whatsapp"></i>
          </a>
          <a href="https://www.instagram.com/nortsteak_oficial" target="_blank" title="Síguenos en Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://web.facebook.com/profile.php?id=61578975458021" target="_blank" title="Visítanos en Facebook">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <p class="copyright">
          &copy; 2025 NortSteak. Todos los derechos reservados.
        </p>
      </div>

      <div class="footer-column2">
        <h3><em>¿Necesitas ayuda?</em></h3>
        <p class="contact-button">
          Contáctanos: +57 3223738274
          <i class="fas fa-phone"></i>
        </p>

        <h3><em>Bancos aliados</em></h3>
        <div class="bancos">
          <img th:src="@{/Css/img/FalabellaBlanco.png}" class="logo-falabella">
          <img th:src="@{/Css/img/NequiBlanco.png}" class="logo-nequi">
          <img th:src="@{/Css/img/BancolombiaBlanco.png}" class="logo-bancolombia">
        </div>

          <h3><em>Ubicación</em></h3>
    <div class="ubicacion-mapa">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.938590607054!2d-72.50586998941517!3d7.9014847920886275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e66456e853423bd%3A0x6bd4a033f6ad90de!2sSENA!5e0!3m2!1ses-419!2sco!4v1753975279322!5m2!1ses-419!2sco"
      style="width: 100%; height: 100%; border: 0; border-radius: 12px;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>
      </div>
    </footer>
  

</footer>

    <script th:src="@{/Css/js/buscar.js}"></script>
    
    
</body>
</html>